[Unit]
Description=MLB LED Scoreboard Web Configurator
After=NetworkManager.service network.target
Wants=NetworkManager.service

[Service]
Type=simple
EnvironmentFile=-/etc/mlb-scoreboard-configurator.env
WorkingDirectory=/home/pi/mlb-led-scoreboard
ExecStart=/home/pi/mlb-led-scoreboard/venv/bin/mlb-scoreboard-configurator
Restart=on-failure
RestartSec=3
User=root
Group=root
NoNewPrivileges=false

[Install]
WantedBy=multi-user.target
